@model Plant;

@{
    ViewData["Title"] = "Deleted Plant";
}

<h2>Plant deleted successfully!</h2>

<div>
    <hr />
    <dl class="container">
        <div class="col-md-3 agile_grid_right">
            <p class="fexi_header"><span>You have deleted plant from the system.</span></p>
        </div>
    </dl>
</div>

<hr />
<div>
    <a asp-controller="Plant" asp-action="Index" class="btn btn-primary">Back</a>
</div>