@model Plant;

@{
    ViewData["Title"] = "Deleted Plant";
}

<h2>You have deleted the plant successfully</h2>

<hr />
<div>
    <a asp-controller="Plant" asp-action="Index" class="btn btn-primary">Back</a>
</div>