@model Book;

<div class="text-center">
    <h1 class="display-4">Book</h1>
    <p>You successfully added a book.</p>
    <p>Book author is: @Model.Id</p>
    <p>Book name is: @Model.Name</p>
    <p>Book author is: @Model.Author</p>

</div>
