@model Book;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="Book/CreateBook">Create a new book</a></p>
    @*<p>Book name is: @Model.Name</p>
    <p>Book author is: @Model.Author</p>
    *@

</div>

@* <ul>
@for (int a = 1; a <= 100; a++)
{
<li>For loop @a</li>
}
</ul>
<ul>
@{
int b = 1;
}
@while (b <= 100)
{
<li>While loop @b</li>
b = b + 1;
}
</ul>
<table>
@for (int i = 0; i < 30; i++)
{
<tr>
@for (int j = 0; j < 30; j++)
{
<td>@i,@j</td>
}
</tr>
}
</table> *@