@model Staff;

@{
    ViewData["Title"] = "Register Staff";
}

<h2>Add staff to the system</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff_Id" />
            <div class="form-group">
                <label asp-for="Forename" class="control-label">Forname:</label>
                <input name="Forename" asp-for="Forename" class="form-control" />
                <span asp-validation-for="Forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Surname:</label>
                <input name="Surname" asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Date of birth:</label>
                <input name="DateOfBirth" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-3 col-form-label">Staff Email:</label>
                <div class="col-sm-10">
                    <input name="Email" type="text" readonly class="form-control-plaintext" id="staticEmail"
                        placeholder="*YourName@greenplant.com*">
                </div>
            </div>
            <div class="form-group">
                <input asp-action="Index" type="submit" value="Register Staff" class="btn btn-primary" />
                <a asp-controller="Staff" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>
<hr />
<div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}