@model Staff;

@{
    ViewData["Title"] = "Deleted Staff";
}

<h2>You have deleted the staff successfully</h2>

<hr />
<div>
    <a asp-controller="Staff" asp-action="Index" class="btn btn-primary">Back</a>
</div>